---
import { CardEditorialNews } from "@components/molecules/CardEditorialNews";
import { Carousel, CarouselItem } from "@components/molecules/Carousel";
import { SectionContainer } from "@components/organisms/SectionContainer";
import { getSectionBgClass } from "@utils/background";
import type { ListCollectionProps } from "./types";

type Props = ListCollectionProps;

const { title, items, background = "lighter" } = Astro.props;

const textColorClass =
  background === "primary" || background === "dark" ? "text-white" : "";
---

<SectionContainer className={getSectionBgClass(background)}>
  <div class="row justify-content-between align-items-top">
    <div class="col-lg-8 col-12">
      <h2 class=`pb-lg-5 ${textColorClass}`>
        {title}
      </h2>
    </div>

    <div class="d-none d-lg-block">
      <ul class="it-card-list row">
        {
          items.map((item) => (
            <li class="col-12 col-lg-4 mb-3">
              <CardEditorialNews {...item} />
            </li>
          ))
        }
      </ul>
    </div>

    <Carousel>
      {
        items.map((item) => (
          <CarouselItem>
            <CardEditorialNews {...item} />
          </CarouselItem>
        ))
      }
    </Carousel>
  </div>
</SectionContainer>
