---
import { Link } from "@components/atoms/Link";
import type { CardPresentationBannerProps } from "./types";

type Props = CardPresentationBannerProps;

const { title, description, icon, linkTo } = Astro.props;
---

<article
  class="it-card it-card-banner it-card-inline it-card-height-full bg-transparent text-start"
>
  <div class="it-card-inline-content">
    <div class="it-card-body">
      <Fragment class="fs-5" set:html={description} />
      <Link label={title} url={linkTo} />
    </div>
  </div>
  <div class="px-3 it-card-banner-icon-wrapper align-items-start">
    <img src={icon} alt="" style="width: 170px;" />
  </div>
</article>
