---
import { Icon } from "@components/atoms/Icon";
import ItExternalLink from "@static/assets/ItExternalLink.astro";
import type { CardInfoAndServiceProps } from "./types";

type Props = CardInfoAndServiceProps;

const { title, description, icon, titleIcon, linkTo } = Astro.props;

const isExternal = linkTo?.startsWith("http");
const TitleTag = linkTo ? "a" : "span";
---

<article class="it-card rounded shadow-sm border">
  <div class="it-card-body">
    <h3 class="it-card-title it-card-title-icon">
      <TitleTag
        href={linkTo}
        target={TitleTag === "a" && isExternal ? "_blank" : undefined}
        rel={TitleTag === "a" && isExternal ? "noopener noreferrer" : undefined}
      >
        {title}
        {
          icon ? (
            <Icon icon={icon} className="text-primary icon-xl" />
          ) : (
            <ItExternalLink color="primary" size="xl" />
          )
        }
      </TitleTag>
    </h3>
    <p class="it-card-text">
      {description}
    </p>
  </div>
</article>
