---
import Dashboard from "@components/dashboards/Dashboard";
import type { GraphitaliaDashboardRecordFragmentType } from "@graphql/fragment/sectionFragments";
type Props = {
  block: GraphitaliaDashboardRecordFragmentType;
};

const { block } = Astro.props;
const dashboardId: string = block.dashboardId;
---

<section>
  <div class="container py-5 py-lg-80">
    <Dashboard client:visible dashboardId={dashboardId} />
  </div>
</section>
