---
import AuthorListAdapter from "@components/cms-adapters/datocms/AuthorListAdapter.astro";
import TextContainerAdapter from "@components/cms-adapters/datocms/TextContainerAdapter.astro";
import { SectionContainer } from "@components/organisms/SectionContainer";
import type { SpeakerFragmentType } from "@graphql/fragment/sectionFragments";
import { getSectionBgClass } from "@utils/background";

type Props = {
  block: SpeakerFragmentType;
};

const { block } = Astro.props;

const hasAuthors = (block.list?.authors?.length ?? 0) > 0;
---

<SectionContainer className={getSectionBgClass("lighter")}>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <TextContainerAdapter block={block.text} variant="light" />
      {hasAuthors && <AuthorListAdapter block={block.list} />}
    </div>
  </div>
</SectionContainer>
