---
import StructuredTextAdapter from "@components/cms-adapters/datocms/StructuredTextAdapter.astro";
import type { ArticleSTFragmentType } from "@graphql/fragment/sectionFragments";
import { getSectionBgClass, type SectionBackground } from "@utils/background";

type Props = {
  block: ArticleSTFragmentType;
  isFontSerif?: boolean;
};

const { block, isFontSerif = false } = Astro.props;

const background = block.backgroundColor || "default";
const bgClass = getSectionBgClass(background as SectionBackground);

const fontClass = isFontSerif ? "font-serif-p" : "";
---

<section class={bgClass}>
  <div class=`structured-text-container ${fontClass}`>
    <div class="container py-5 py-lg-80">
      <div class="row">
        <div class="col-12 col-lg-8">
          <StructuredTextAdapter block={block.textContent} />
        </div>
      </div>
    </div>
  </div>
</section>
