<div class="container py-5">
  <div class="row">
    <div class="col-lg-8 text-center">
      <slot name="title" />
    </div>
    <div class="mb-5 block">
      <slot name="text" slot="left" />
    </div>
  </div>
</div>
<div class="border-top border-bottom py-5 container">
  <div class="row">
    <div class="justify-content-center">
      <slot name="subjects" />
      <slot name="resources" />
    </div>
  </div>
</div>
