---
import { UseCaseCard } from "@components/molecules/UseCaseCard";
import type {
  UseCaseCardBackgroundColor,
  UseCaseCardProps,
} from "@components/molecules/UseCaseCard/types";

type Props = {
  label?: string;
  items: UseCaseCardProps[];
  backgroundColor?: UseCaseCardBackgroundColor;
};

const { items, label, backgroundColor } = Astro.props;
---

<style>
  @import "./style.scss";
</style>

{label && <p class="fw-semibold fs-6 text-uppercase">{label}</p>}
<div class="usecase-container">
  {
    items.map((useCase) => (
      <UseCaseCard {...useCase} backgroundColor={backgroundColor} />
    ))
  }
</div>
