---
import { Accordion } from "@components/molecules/Accordion";
import { SectionContainer } from "@components/organisms/SectionContainer";
import { getSectionBgClass } from "@utils/background";
import type { FAQSectionProps } from "./types";

type Props = FAQSectionProps;
const { title, accordion, background = "default" } = Astro.props;
---

<SectionContainer className={getSectionBgClass(background)}>
  <div class="row align-items-top">
    <div class="col-12">
      <h2 class="mb-5">
        {title}
      </h2>
      <Accordion
        {...accordion}
        fullWidth={false}
        allOpen={false}
        variant="background-active"
      />
    </div>
  </div>
</SectionContainer>
