---
import { Image } from "@components/atoms/Image";
import type { SectionBackground } from "@components/layout/SplitContent/types";
import type { HeroProps } from "./types";
type Props = HeroProps;

const {
  title,
  paragraph,
  image,
  showBreadcrumb,
  backgroundColor = "default",
} = Astro.props;

const backgroundColorClassNames: Record<SectionBackground, string> = {
  default: "bg-white dark",
  primary: "bg-primary",
  dark: "primary-bg-a8",
  lighter: "lightgrey-bg-a3 dark",
};
---

<style>
  @import "./style.scss";
</style>
<section
  class=`it-hero-wrapper it-hero-wrapper-full-height-image xsmall-size ${backgroundColorClassNames[backgroundColor]}`
>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-7">
        <div class="it-hero-text-wrapper px-0">
          {showBreadcrumb && <slot name="breadcrumb" />}
          <h1>{title}</h1>
          {paragraph && <p class="font-sans-serif">{paragraph}</p>}
        </div>
      </div>
    </div>
  </div>
  {
    image && (
      <div class="img-responsive-wrapper">
        <div class="img-responsive">
          <div class="img-wrapper">
            <Image {...image} />
          </div>
        </div>
      </div>
    )
  }
</section>
