---
import { Image } from "@components/atoms/Image";
import type { SectionBackground } from "@components/layout/SplitContent/types";
import type { HeroProps } from "./types";

type Props = HeroProps;

const {
  title,
  paragraph,
  image,
  imageMobile,
  showBreadcrumb = false,
  variant = "default",
  backgroundColor = "default",
} = Astro.props;
const sizeClass = variant === "small" ? "small-size" : "default-size";

const backgroundColorClassNames: Record<SectionBackground, string> = {
  default: "bg-white dark",
  primary: "bg-primary",
  dark: "primary-bg-a8",
  lighter: "lightgrey-bg-a3 dark",
};
---

<style>
  @import "./style.scss";
</style>

<section
  class={`it-hero-wrapper ${sizeClass} ${image ? backgroundColorClassNames["primary"] : backgroundColorClassNames[backgroundColor]}`}
>
  {
    image && (
      <div
        class={`img-responsive-wrapper ${imageMobile ? "d-none d-lg-block" : ""}`}
      >
        <div class="img-responsive">
          <div class="img-wrapper">
            <Image {...image} />
          </div>
        </div>
      </div>
    )
  }
  {
    imageMobile && (
      <div class="img-responsive-wrapper d-block d-lg-none">
        <div class="img-responsive">
          <div class="img-wrapper">
            <Image {...imageMobile} />
          </div>
        </div>
      </div>
    )
  }

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-hero-text-wrapper px-0">
          {showBreadcrumb && <slot name="breadcrumb" />}
          <h1>{title}</h1>
          {paragraph && <p class="font-sans-serif">{paragraph}</p>}
        </div>
      </div>
    </div>
  </div>
</section>
