@import "@styles/palette";

.navbar-nav {
  .nav-link {
    @media (min-width: 992px) {
      padding-left: 0.5rem !important;
      padding-right: 0.5rem !important;
    }

    @media (min-width: 1050px) {
      padding-left: 0.75rem !important;
      padding-right: 0.75rem !important;
    }

    @media (min-width: 1200px) {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }
  }
}

.nav-tabs {
  .nav-link:hover {
    text-decoration: underline !important;
  }

  &.it-section-bg-primary,
  &.it-section-bg-dark {
    .nav-link {
      color: $white !important;

      &.active {
        border-bottom-color: $white;
        color: $white !important;
        background-color: transparent !important;
      }
    }
  }

  &.it-section-bg-light,
  &.it-section-bg-medium {
    .nav-link {
      color: $color-text-base !important;

      &.active {
        border-bottom-color: $primary;
        color: $primary !important;
        background-color: transparent !important;
      }
    }
  }

  &.it-section-bg-primary,
  &.it-section-bg-dark,
  &.it-section-bg-light,
  &.it-section-bg-medium {
    .nav-link.disabled {
      color: $gray-400 !important;
    }
  }
}
