---
import TabsItem from "./TabsItem.astro";
import type { TabsProps } from "./types";
type Props = TabsProps;
const { id, items, variant = "light" } = Astro.props;
---

<style>
  @import "./style.scss";
</style>
{
  items.length > 1 && (
    <ul
      class={`nav nav-tabs mb-5 ${variant === "dark" ? "bg-primary" : ""}`}
      id={`tabs-${id}`}
      role="tablist"
    >
      {items.map((item) => (
        <TabsItem {...item} />
      ))}
    </ul>
  )
}
<div class="tab-content" id=`tabs-${id}-content`>
  <slot />
</div>
