---
import type { StatisticsBoxProps } from "./types";

type Props = StatisticsBoxProps;

const { title, description } = Astro.props;
---

<div class="it-card it-card-height-full rounded border it-section-bg-light">
  <div class="it-card-body d-flex flex-column justify-content-between">
    <p class="fw-semibold">{title}</p>
    <p class="h2">{description}</p>
  </div>
</div>
