---
import { Icon } from "@components/atoms/Icon";

type Props = {
  content: string;
};
const { content } = Astro.props;
---

<style>
  @import "./style.scss";
</style>

<div class="icon-container icon-text">
  <Icon icon={content} className="text-dark" />
</div>
