---
import LanguageSelector from "./LanguageSelector.astro";

type Props = {
  slimContent: string;
  linkTo: string;
  locales: string[];
};

const { slimContent, linkTo, locales } = Astro.props;
---

<div class="it-header-slim-wrapper theme-light">
  <div class="container-xxl">
    <div class="row">
      <div class="col-12">
        <div class="it-header-slim-wrapper-content">
          <a class="d-none d-lg-block navbar-brand" href={linkTo}
            >{slimContent}</a
          >
          <div class="nav-mobile">
            <nav aria-label="Navigazione secondaria">
              <a
                class="it-opener d-lg-none"
                data-bs-toggle="collapse"
                href="#menuC2"
                role="button"
                aria-expanded="false"
                aria-controls="menuC2"
              >
                <span>{slimContent}</span>
                <svg class="icon" aria-hidden="true"
                  ><use href="/bsi-svg/sprites.svg#it-expand"></use></svg
                >
              </a>
            </nav>
          </div>
          <div class="it-header-slim-right-zone">
            <LanguageSelector locales={locales} />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
