---
import LanguageSelector from "./LanguageSelector.astro";
import type { HeaderSlimProps } from "./types";

type Props = HeaderSlimProps;

const { slimContent, linkBackHome, locales } = Astro.props;
---

<div class="it-header-slim-wrapper theme-light">
  <div class="container-xxl">
    <div class="row">
      <div class="col-12">
        <div class="it-header-slim-wrapper-content">
          <a class="navbar-brand" href={linkBackHome}>{slimContent}</a>
          <div class="it-header-slim-right-zone">
            <LanguageSelector locales={locales} />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
