---
import MenuItem from "./MenuItem.astro";
import type { HeaderCentralProps } from "./types";

type Props = HeaderCentralProps;

const { brandTitle, brandTagLine, menuItems, linkBackHome } = Astro.props;
---

<div class="it-nav-wrapper">
  <div class="it-header-center-wrapper theme-light">
    <div class="container-xxl">
      <div class="row">
        <div class="col-12">
          <div class="it-header-center-content-wrapper">
            <div class="it-brand-wrapper">
              <a href={linkBackHome}>
                <svg class="icon" aria-hidden="true"
                  ><use href="/bsi-svg/sprites.svg#it-pa"></use></svg
                >
                <div class="it-brand-text">
                  <div class="it-brand-title">{brandTitle}</div>
                  <div class="it-brand-tagline d-none d-md-block">
                    {brandTagLine}
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="it-header-navbar-wrapper theme-light-desk">
    <div class="container-xxl">
      <div class="row">
        <div class="col-12">
          <nav
            class="navbar navbar-expand-lg has-megamenu"
            aria-label="Navigazione principale"
          >
            <button
              class="custom-navbar-toggler"
              type="button"
              aria-controls="navC2"
              aria-label="Mostra/Nascondi la navigazione"
              data-bs-toggle="navbarcollapsible"
              data-bs-target="#navC2"
            >
              <svg class="icon"
                ><use href="/bsi-svg/sprites.svg#it-burger"></use></svg
              >
            </button>
            <div class="navbar-collapsable" id="navC2" tabindex="-1">
              <div class="close-div">
                <button class="btn close-menu" type="button">
                  <span class="visually-hidden">Nascondi la navigazione</span>
                  <svg class="icon"
                    ><use href="/bsi-svg/sprites.svg#it-close-big"></use></svg
                  >
                </button>
              </div>
              <div class="menu-wrapper justify-content-lg-between">
                <ul class="navbar-nav">
                  {menuItems.left.map((menuItem) => <MenuItem {...menuItem} />)}
                </ul>
                {
                  menuItems.right && (
                    <ul class="navbar-nav">
                      {menuItems.right.map((menuItem) => (
                        <MenuItem {...menuItem} />
                      ))}
                    </ul>
                  )
                }
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
