---
import { Icon } from "@components/atoms/Icon";
import type { LinkProps } from "@components/atoms/Link/types";

type Props = LinkProps;

const { icon, label, url } = Astro.props;
---

<a href={url} class="list-item left-icon" target="_blank" rel="noreferrer">
  {icon && <Icon icon={icon} className="icon-sm text-white me-2" />}
  <span>{label}</span>
</a>
