---
import { Icon } from "@components/atoms/Icon";
import type { FooterLogoProps } from "./types";

type Props = FooterLogoProps;

const { icon, label, linkTo, ariaLabel = "" } = Astro.props;
---

<a
  href={linkTo}
  class="list-item left-icon"
  aria-label={ariaLabel}
  target="_blank"
  rel="noreferrer"
>
  {icon && <Icon icon={icon} className="icon-sm text-white me-3" />}
  <span>{label}</span>
</a>
