---
import { Icon } from "@components/atoms/Icon";
import type { FooterLogoProps } from "./types";

type Props = FooterLogoProps;

const { icon, label, linkTo } = Astro.props;
---

<a href={linkTo} target="_blank" rel="noreferrer" class="d-block">
  {icon && <Icon icon={icon} className="text-white me-3" />}
  {label}
</a>
