---
import { getI18n } from "@i18n/microcopy";

import FooterLink from "./FooterLink.astro";
import type { FooterSmallPrintsProps } from "./types";

type Props = FooterSmallPrintsProps;

const { links, showSitemap = false } = Astro.props;
const lang = Astro.locals.lang || "it";
const t = getI18n(lang);
---

<div class="it-footer-small-prints clearfix">
  <div class="container">
    <p class="visually-hidden">{t["footer.sectionLink"]}</p>
    <ul
      class="it-footer-small-prints-list list-inline mb-0 d-flex flex-column flex-md-row px-0"
    >
      {
        showSitemap && (
          <li class="list-inline-item d-flex align-items-center gap-2">
            <FooterLink
              label={"Mappa del sito"}
              linkTo={"/sitemap.xml"}
              openInNewTab={false}
              isIcon={true}
              variant="dark"
            />
          </li>
        )
      }
      {
        links.map((link) => (
          <li class="list-inline-item d-flex align-items-center gap-2">
            <FooterLink
              {...link}
              openInNewTab={true}
              isIcon={true}
              variant="dark"
            />
          </li>
        ))
      }
    </ul>
  </div>
</div>
