---
import { SplitContent } from "@components/layout/SplitContent";
import { CardPresentationBanner } from "@components/molecules/CardPresentationBanner";
import TextContainer from "@components/molecules/TextContainer/TextContainer.astro";
import type { SupportChannelSectionProps } from "./types";

type Props = SupportChannelSectionProps;

const { title, paragraph, channels, background = "default" } = Astro.props;
---

<SplitContent background={background} leftColumns={5} alignItems="top">
  <TextContainer slot="left" title={title} paragraph={paragraph} />
  <div class="row pt-4">
    {
      channels.map((item) => (
        /* Ripristina su cloud */
        /*         <div class="col-12 col-md-6 mb-3 mb-md-4 col-lg-4">
          <CardPresentationBanner {...item} />
        </div> */
        <div class="col-12 mb-3 mb-md-4 col-lg-8">
          <CardPresentationBanner {...item} />
        </div>
      ))
    }
  </div>
</SplitContent>
