---
import { executeQuery } from "../lib/datocms";
import { LocalesQuery } from "../utils/query";

const {
  site: { locales },
} = await executeQuery(LocalesQuery);
---

<html lang="en">
  <head>
    <meta http-equiv="refresh" content={`0; url=/${locales[0]}/`} />
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting to /{locales[0]}...</p>
  </body>
</html>
