---
import { SectionContainer } from "@components/organisms/SectionContainer";
import type { SplitContentProps, SectionBackground } from "./types";

type Props = SplitContentProps;

const {
  leftColumns = 6,
  rightColumns = 6,
  alignItems = "center",
  background = "default",
} = Astro.props;

const backgroundColorClassNames: Record<SectionBackground, string> = {
  default: "",
  primary: "bg-primary",
  dark: "primary-bg-a10",
  lighter: "lightgrey-bg-a3",
};
---

<SectionContainer className={backgroundColorClassNames[background]}>
  <div class=`row justify-content-between align-items-${alignItems}`>
    <div class=`col-lg-${leftColumns} col-12`>
      <slot name="left" />
    </div>
    <div class=`col-lg-${rightColumns} col-12`>
      <slot name="right" />
    </div>
  </div>
  <slot />
</SectionContainer>
