---
import ItIcon from "@static/assets/ItIcon.astro";

type Props = {
  label: string;
  icon?: string;
  colorIcon: string;
};
const { label, icon, colorIcon } = Astro.props;
---

<span>
  {label}
</span>
{icon && <ItIcon name={icon} size="sm" class={colorIcon} />}
