<header class="it-header-wrapper">
  <div class="it-header-slim-wrapper">
    <div class="container-xxl">
      <div class="row">
        <div class="col-12">
          <div class="it-header-slim-wrapper-content">
            <a class="d-none d-lg-block navbar-brand" href="#">DTD Template</a>
            <div class="nav-mobile">
              <nav aria-label="Navigazione secondaria">
                <a
                  class="it-opener d-lg-none"
                  data-bs-toggle="collapse"
                  href="#menuC1"
                  role="button"
                  aria-expanded="false"
                  aria-controls="menuC1"
                >
                  <span>DTD Template</span>
                  <svg class="icon" aria-hidden="true"
                    ><use href="/bsi-svg/sprites.svg#it-expand"></use></svg
                  >
                </a>
                <div class="link-list-wrapper collapse" id="menuC1">
                  <ul class="link-list">
                    <li>
                      <a class="list-item active" href="/" aria-current="page"
                        >Link 1</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item list-item" href="#">Link 2</a>
                    </li>
                    <li>
                      <a class="dropdown-item list-item" href="#">Link 3</a>
                    </li>
                    <li>
                      <a class="dropdown-item list-item" href="#">Link 4</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
            <div class="it-header-slim-right-zone">
              <div class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <span class="visually-hidden"
                    >Selezione lingua: lingua selezionata</span
                  >
                  <span>ITA</span>
                  <svg class="icon d-none d-lg-block"
                    ><use href="/bsi-svg/sprites.svg#it-expand"></use></svg
                  >
                </a>
                <div class="dropdown-menu">
                  <div class="row">
                    <div class="col-12">
                      <div class="link-list-wrapper">
                        <ul class="link-list">
                          <li>
                            <a class="dropdown-item list-item" href="#"
                              ><span
                                >ITA <span class="visually-hidden"
                                  >selezionata</span
                                ></span
                              ></a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item list-item" href="#"
                              ><span>ENG</span></a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
