---
import { getGlobalSettings } from "@lib/dataFetcher";

const lang = Astro.locals.lang || "it";

const globalSetting = await getGlobalSettings(lang);
---

<div class="container">
  <div class="row py-5 py-lg-80">
    <div class="col-12 text-center">
      <div
        class="progress-spinner progress-spinner-double progress-spinner-active"
      >
        <div class="progress-spinner-inner"></div>
        <div class="progress-spinner-inner"></div>
        <span class="visually-hidden"
          >{globalSetting?.loading || "Caricamento..."}</span
        >
      </div>
    </div>
  </div>
</div>
