<section class="it-hero-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-hero-text-wrapper bg-dark">
          <span class="it-category">Titolo occhiello</span>
          <h1>Titolo della sezione</h1>
          <p class="d-none d-lg-block">
            Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper
            dignissim cras. Dictum sit amet justo donec enim diam vulputate ut.
            Eu nisl nunc mi ipsum faucibus.
          </p>
          <div class="it-btn-container">
            <a class="btn btn-sm btn-outline-primary" href="#"
              >Azione primaria
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
