---
import type { GenericListItemProps } from "@components/molecules/GenericList/types";
import { ListLink } from "@components/molecules/ListLink";

type Props = {
  title: string;
  links: GenericListItemProps[];
};

const { title, links } = Astro.props;
---

<div class="it-section-bg-primary rounded-2 py-4 px-5 text-white">
  <h3>{title}</h3>
  <ListLink items={links} variant="dark" />
</div>
