---
import type { GenericListItemProps } from "@components/molecules/GenericList/types";
import { GenericList } from "@components/molecules/GenericList";

type Props = {
  title: string;
  links: GenericListItemProps[];
};

const { title, links } = Astro.props;
---

<div class="primary-bg-a8 rounded-2 py-4 px-5 text-white">
  <h3>{title}</h3>
  <GenericList items={links} variant="dark" size="small" />
</div>
