---
import { ListLink } from "@components/molecules/ListLink";
import { getSectionBgClass } from "@utils/background";
import type { QuickLinkCardProps } from "./types";

type Props = QuickLinkCardProps;

const { title, links, background = "primary" } = Astro.props;

const bgClass = getSectionBgClass(background);
const variantTextContainer =
  background === "dark" || background === "primary" ? "dark" : "light";
---

<div
  class=`${bgClass} rounded-2 py-4 px-5 ${variantTextContainer=== "dark"? "text-white":""}`
>
  {title && <h3>{title}</h3>}
  <ListLink items={links} variant={variantTextContainer} />
</div>
