---
import { DataContainer } from "@components/molecules/DataContainer";
import type {
  DataContainerProps,
  VariantTextDataContainerProps,
} from "@components/molecules/DataContainer/types";

type Props = {
  items: DataContainerProps[];
  variant?: VariantTextDataContainerProps;
  showInline?: boolean;
};

const { items, variant = "light", showInline = false } = Astro.props;

const classInline = showInline
  ? "d-flex flex-row justify-content-between mt-5"
  : "statistics-container";
---

<style>
  @import "./style.scss";
</style>

<ul class={`list-unstyled ${classInline}`} role="list">
  {
    items.map((item) => (
      <li class="statistics-item">
        <DataContainer {...item} variant={variant} />
      </li>
    ))
  }
</ul>
