---
import "../styles/global.scss";
import bsi from "bootstrap-italia/dist/js/bootstrap-italia.bundle.min.js?url";
import { Seo, type TitleMetaLinkTag } from "@datocms/astro";
import { SiteMetaTagsQuery } from "../utils/query";
import { executeQuery } from "../lib/datocms";
import { isDraftModeEnabled } from "../lib/draftMode";
import PreviewBar from "../components/PreviewBar.astro";
import { Header } from "../components/organisms/Header";
import { Footer } from "../components/organisms/Footer";

type Props = {
  locale: string;
  pageSeo?: TitleMetaLinkTag[];
  redirectUrl?: string;
};

const { locale, pageSeo = [], redirectUrl } = Astro.props;
const result = await executeQuery(SiteMetaTagsQuery);

const isShowingPreviewBar = isDraftModeEnabled(Astro.cookies) && redirectUrl;
---

<html lang={locale}>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <Seo data={[...result.site.faviconMetaTags, ...pageSeo]} />
    <link
      href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {isShowingPreviewBar && <PreviewBar redirectUrl={redirectUrl} />}
    <Header
      slimContent="Nome dipartimento"
      brandTitle="Cloud Italia"
      brandTagLine="Il cloud della pubblica amministrazione"
      menuItems={[]}
    />
    <main>
      <slot />
    </main>
    <Footer
      brand={{
        title: "Nome dipartimento",
        description: "è un progetto di",
        logos: [
          {
            icon: "it-team-digitale",
            label: "Dipertimento di trasformazione digitale",
            linkTo: "#",
          },
          {
            icon: "it-team-digitale",
            label: "Dipertimento di trasformazione digitale",
            linkTo: "#",
          },
        ],
      }}
      topics={{
        title: "Parliamo di",
        items: [
          {
            label: "Sviluppo interfaccia",
            visuallyHidden: "link",
            linkTo: "#",
          },
          {
            label: "Sviluppo interfaccia",
            visuallyHidden: "link",
            linkTo: "#",
          },
        ],
      }}
      utilities={[
        {
          title: "Community",
          items: [
            {
              label: "Forum italia",
              ariaLabel: "link",
              icon: "it-designers-italia",
              linkTo: "#",
            },
            {
              label: "Slack",
              ariaLabel: "link",
              icon: "it-slack",
              linkTo: "#",
            },
            {
              label: "Github",
              ariaLabel: "link",
              icon: "it-github",
              linkTo: "#",
            },
          ],
        },
      ]}
      smallPrints={{
        labelVisualHidden: "Sezione link utili",
        links: [
          { label: "Media Policy", linkTo: "#" },
          { label: "Note legali", linkTo: "#" },
        ],
      }}
    />
  </body>
</html>
<script src={bsi}></script>
