---
import "../styles/global.scss";
import bsi from "bootstrap-italia/dist/js/bootstrap-italia.bundle.min.js?url";
import { Seo, type TitleMetaLinkTag } from "@datocms/astro";
import { LayoutQuery, SiteMetaTagsQuery } from "@utils/query";
import { executeQuery } from "@lib/datocms";
import { isDraftModeEnabled } from "@lib/draftMode";
import PreviewBar from "@components/PreviewBar.astro";
import HeaderAdapter from "@components/cms-adapters/datocms/HeaderAdapter.astro";
import FooterAdapter from "@components/cms-adapters/datocms/FooterAdapter.astro";
import type {
  FooterFragmentType,
  HeaderFragmentType,
} from "@graphql/sectionFragments";

type Props = {
  pageSeo?: TitleMetaLinkTag[];
  redirectUrl?: string;
};

const { pageSeo = [], redirectUrl } = Astro.props;

const { lang } = Astro.locals;

const result = await executeQuery(SiteMetaTagsQuery);

const { layout, homepage } = await executeQuery(LayoutQuery, {
  variables: { locale: lang },
});

if (!layout) return;

const headerLayout: HeaderFragmentType = {
  tagline: layout.tagline,
  organization: layout.organization,
  siteName: layout.siteName,
  mainNavigation: layout.mainNavigation,
  secondaryNavigation: layout.secondaryNavigation,
  locales: layout.locales,
  logo: layout.logo,
};

const footerLayout: FooterFragmentType = {
  heading: layout.heading,
  organizations: layout.organizations,
  topicTitle: layout.topicTitle,
  topicLink: layout.topicLink,
  utilityTitle: layout.utilityTitle,
  utility: layout.utility,
  smallPrint: layout.smallPrint,
};

const isShowingPreviewBar = isDraftModeEnabled(Astro.cookies) && redirectUrl;
---

<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <Seo data={[...result.site.faviconMetaTags, ...pageSeo]} />
    <link
      href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {isShowingPreviewBar && <PreviewBar redirectUrl={redirectUrl} />}
    <HeaderAdapter {...headerLayout} homeRecordId={homepage?.id} />
    <main>
      <slot />
    </main>
    <FooterAdapter {...footerLayout} />
  </body>
</html>
<script src={bsi}></script>
