---
import { IconContainer } from "@components/atoms/IconContainer";
import type { CardEditorialWithIconProps } from "./types";

type Props = CardEditorialWithIconProps;

const { title, description, icon } = Astro.props;
---

<div class="it-card it-card-height-full rounded border it-section-bg-light">
  <div class="it-card-title it-card-title-icon">
    <div class="it-card-title-icon-wrapper">
      <IconContainer content={icon} />
    </div>
  </div>
  <div class="it-card-body">
    <p class="it-card-subtitle fs-6">{title}</p>
    <p class="it-card-text">{description}</p>
  </div>
</div>
