---
import ItArrowRightTriangle from "@static/assets/ItArrowRightTriangle.astro";
import type { BreadcrumbItemProps } from "./types";

type Props = BreadcrumbItemProps;
const { label, linkTo, id, active, variant = "light" } = Astro.props;
const ariaCurrent = active ? "page" : undefined;
---

<li
  id={id}
  class={`breadcrumb-item ${active && "active"}`}
  aria-current={ariaCurrent}
>
  {!active && <a href={linkTo}>{label}</a>}
  {
    !active && (
      <span class="separator mb-0">
        <ItArrowRightTriangle
          size="sm"
          color={variant === "dark" ? "white" : undefined}
        />
      </span>
    )
  }
  {active && label}
</li>
